body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}
h1 {
    margin-top: 10px;
    color: rgba(77,54,208,1);
}
#board{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.tile{
    border: 1px solid lightgray;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#randomize{
    margin-top: 25px;
    color: rgba(77,54,208,1);
}
button {
    background: var(--primary-color);
    font-weight: bold;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    border: 1px solid #d4d4d4;
    transition: all .3s;
  }
   button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }